<div class="col-xl-3 col-md-4 col-sm-6 mb-20">
    <div class="product-wrapper product-list-wrapper">
        <div class="product-img product-list-image">

            {% for image in item.images %}
                <img src="{{ asset(image.image) }}" alt="{{ item.name }}">
            {% else %}
                <img src="{{ asset('img/noimage.png') }}" alt="{{ item.name }}">
            {% endfor %}

            <ul class="social-icon">
                <li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="product-detalis pt-15 pl-20 pr-20 pb-25">
            <span>Men Fashion</span>
            <h6 class="product-list-title">
                <a href="{{ path('app_advertisement_details', {slug: item.slug}) }}">{{ item.name }}</a>
            </h6>
            {% if item.price %}
                <div class="price-color ">
                    <div class="price d-inline-block">
                        Цена: <span>{{ item.price|price }}</span>
                    </div>
                </div>
            {% else %}
                <div class="price-color ">
                    <div class="price d-inline-block">
                        Обмен
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>